<header class="gh-publishmenu-heading">{{t (concat post.displayName ".publish.published.title")}}</header>
<section class="gh-publishmenu-content">
    <div class="gh-publishmenu-radio {{if (eq saveType "draft") "active"}}" {{action setSaveType "draft" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-unpublished-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">{{t "postStatus.Unpublished"}}</div>
            <div class="gh-publishmenu-radio-desc">{{t (concat post.displayName ".publish.published.revert")}}</div>
        </div>
    </div>
    <div class="gh-publishmenu-radio {{if (eq saveType "publish") "active"}}" {{action setSaveType "publish" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-published-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">{{t "postStatus.Published"}}</div>
            <div class="gh-publishmenu-radio-desc">{{t (concat post.displayName ".publish.published.display")}}</div>
        </div>
    </div>
</section>
